- title   = 'Theme Modifications <small>and Child Theme</small>';
- id      = 'child-theme';
- nav[id] = title;

+section( title, id )

<h2 id="child-theme">Theme Modifications <small>and Child Theme</small> <a href="https://github.com/webmandesign/child-theme" class="btn btn-success alignright">Download a sample child theme</a></h2>
	<div class="section indented">

		<div class="row mt">

			<div class="alert alert-danger">
				<h3>Important:</h3>
				<p><strong>Please note that <a href="https://www.webmandesign.eu/reference/#links-support">we do not provide support for custom theme modifications</a>!</strong></p>
				<p>You are responsible for all the changes you apply to the theme on your website.</p>
				<p>If you don't feel comfortable enough coding, please, <a href="https://support.webmandesign.eu/modifications/" target="_blank">consider hiring someone who could help</a>.</p>
			</div>

			<div class="col-sm-12 col-md-8">

				<h3 class="mt-m">When and How to Use a Child Theme?</h3>

				<p>If you need to make any styling or functional changes to the theme, please use the WordPress native <strong>child theme</strong> functionality. This way you can continue updating the parent (original) <strong>#{theme_name}</strong> theme without any worry of your changes being overwritten as all your custom styles and functionality are kept in a child theme. You can read more about <a href="http://codex.wordpress.org/Child_Themes" target="_blank">child themes on WordPress Codex pages</a>.</p>
				<p>You can put all your custom CSS styles into <code>YOUR_CHILD_THEME/style.css</code> file. (You can alternatively use <strong>Appearance &rarr; Customize &rarr; Additional CSS</strong> for that.)</p>
				<p>If you also want to change the functionality of the original <strong>#{theme_name}</strong> theme, do so in <code>YOUR_CHILD_THEME/functions.php</code> file. You can freely modify any theme function or class method there by hooking onto the specific "pre" filter or unhooking the function altogether (see below for how to use filter and action hooks).</p>

			</div>

			<div class="col-sm-12 col-md-4">

				<h3 class="mt-m">Additional resources</h3>

				<ul>
					<li><a href="https://github.com/webmandesign/child-theme" target="_blank"><strong>Download a sample child theme</strong></a></li>
					<li><a href="https://wordpress.org/plugins/child-theme-check/" target="_blank"><strong>Child Theme Check</strong> plugin</a> (<a href="https://wptavern.com/child-theme-check-plugin-helps-wordpress-users-navigate-parent-theme-updates" target="_blank">how it works?</a>)</li>
					<li><a href="http://codex.wordpress.org/Child_Themes" target="_blank">WordPress Codex on child themes</a></li>
					<li><a href="http://www.woothemes.com/2015/07/why-child-themes-matter/" target="_blank">Why child themes are so important</a></li>
				</ul>

				<h3 class="mt-m">Child Theme Generator</h3>

				<p><strong>#{theme_name}</strong> theme lets you create a child theme automatically. Just <a href="http://easycaptures.com/fs/uploaded/1045/1169420183.png" target="_blank">navigate to <strong><em>Appearance &rarr; Editor</em></strong> and click the <em>"Create and activate now &raquo;"</em> link</a> in the displayed child theme notification.</p>
				<p>A new child theme will be created and activated for you automatically, so you can add any custom code in it.</p>
				<p><em><small>Please note that this option is not available when using <a href="https://codex.wordpress.org/Create_A_Network" target="_blank">WordPress multisite</a> installation. In that case (or when automatic child theme creation doesn't work) please download a sample child theme (see "Additional resources" on left).</small></em></p>

			</div>

		</div>

		<h3 id="hooks">How to use action and filter hooks?</h3>

			<div class="alert alert-danger">
				This topic is dedicated to WordPress developers who would like to modify the theme and alter or expand its functionality.<br>
				<strong>Please note that <a href="https://www.webmandesign.eu/reference/#links-support">we do not provide support for custom theme modifications</a>, though.</strong>
			</div>

			<p>The theme is <a href="https://wordpress.org/plugins/theme-check/" target="_blank">coded according to WordPress coding standards</a> and is full of action and filter hooks. You can easily hook onto these to alter functions outputs (or short-circuit the whole functions - the <code>wmhook_HOOKNAME_pre</code> filter hooks) or alter parameters and variables, to add your own meta data, theme or design options, layouts and much more!</p>
			<p>Please check the theme's source code for which hook to use(you can simply search for "<code>do_action(</code>" or "<code>apply_filters(</code>", respectively), or contact <a target="_blank" href="https://www.webmandesign.eu/reference/#links-support">WebMan Design Support Center</a> for more details and tips.</p>
			<p><strong>#{theme_name}</strong> theme also uses the <a href="https://github.com/zamoose/themehookalliance" target="_blank">Theme Hook Alliance</a> hooks too. This is useful to entirely rebuild the theme structure or add your own sections anywhere in the theme. The whole theme front-end structure setup can be found in files inside the <code>#{theme_slug}/includes/frontend</code> folder.</p>
			<p>You can also watch an <a href="https://www.youtube.com/watch?v=AQrXcsc4CIw" target="_blank">instructional video on how to use WordPress hooks</a>.</p>
			<p>To show all theme hooks you may try using <a href="https://wordpress.org/plugins/simply-show-hooks/" target="_blank"><strong>Simply Show Hooks</strong></a> plugin or <a href="https://wordpress.org/plugins/wp-inspect/" target="_blank"><strong>WP Inspect</strong></a> plugin.</p>

	</div>
