block faq/answers/list
	<h3 id="seo">
		<strong>SEO</strong> - Search Engine Optimization
		<a href="#faq" class="btn alignright">Back to FAQ list &uarr;</a>
		<span class="badge alignleft"></span>
	</h3>

		<p>The theme is <strong>coded semantically, with best <abbr title="Search Engine Optimization">SEO</abbr> practices in mind</strong>, meaning it is ready to be displayed on top of search results in search engines such as Google.</p>
		<p>Please note though, that this is just a basic SEO optimization and you will have to push it further to make the real deal with SEO. For such cases I recommend using <a href="http://wordpress.org/extend/plugins/wordpress-seo/"><strong>Yoast SEO</strong></a> plugin.</p>
		<p>You can furthermore integrate support for <a href="https://kinsta.com/blog/schema-markup-wordpress/">Schema JSON-LD microformats</a> using a plugin such as <a href="https://wordpress.org/plugins/schema/"><strong>Schema</strong></a>.
		<em>(Note that some plugins already contains Schema microformats for their custom post types. Such as WooCommerce plugin, for example.)</em></p>

	<h3 id="any-page-builder">
		How to use any page builder plugin?
		<a href="#faq" class="btn alignright">Back to FAQ list &uarr;</a>
		<span class="badge alignleft"></span>
	</h3>

		<div class="row">

			<div class="col-sm-12 col-md-8">

				<p>The theme is 100% compatible with <a href="#beaver-builder"><strong>Beaver Builder</strong> page builder</a> plugin (and also <a href="#beaver-themer"><strong>Beaver Themer</strong> plugin</a>). It works wonderfully with this most powerful and easy to use page builder. This is the <em>only</em> page builder plugin in which we <strong>automatically integrate custom theme content elements</strong>. If you are using other page builder, you will need to <a href="#shortcodes">use shortcodes</a>.</p>

				<p>Besides this, the theme is compatible also with <a href="#elementor"><strong>Elementor Pro's</strong> plugin's <strong>Theme Builder</strong></a>! So you can use use either Beaver Themer or Elementor Pro to tweak the theme layouts heavily. Just use whichever you prefer.</a>

				<p>The theme was also tested and is working perfectly fine with other popular page builders (paid and free ones; see "Compatibility" section aside) and should be compatible with <strong>any</strong> decently coded page builder plugin.</p>
				<p>To ensure layout compatibility the theme offers a convenient <strong>"Page builder layout" metabox</strong> (<a href="http://easycaptures.com/fs/uploaded/1021/5112036139.png" title="Metabox to modify a page or post layout. Can be found in the sidebar of page or post edit screen."><em>preview &raquo;</em></a>) where you can set <a href="#custom-fields">special custom fields</a> to prepare the page/post content area layout for use with your page builder. As every page builder works differently, you will need to <strong>set these options to your needs</strong>. Also, please note that when you are using Beaver Builder, this metabox is not available as the plugin works automagically :)</p>
				<p>If you prefer using page templates instead of the custom fields and metaboxes, you can simply assign a <a href="#page-templates"><strong><em>"Page builder"</em> page/post template</strong></a> wherever you want to use your page builder.</p>

				<div class="alert alert-info">
					<h4>Can I use page builder with any post type?</h4>
					<p>To use a page builder on posts or custom post types, you will probably need to <em>enable those post types in your page builder plugin settings</em> first. This is different with every plugin and you should find the information in your plugin's documentation.</p>
					<p>With Beaver Builder you can set these in <strong><em>Settings &rarr; Page Builder &rarr; Post Types</em></strong>.</p>
				</div>

			</div>

			<div class="col-sm-12 col-md-4">

				<div class="alert alert-warning mt0">
					<h4>Compatibility</h4>
					<p>Besides full compatibility with <a href="#beaver-builder"><strong>Beaver Builder</strong></a>, the theme was tested and is working perfectly fine with these page builder plugins:</p>
					<ul>
						<li><a href="https://wordpress.org/plugins/elementor/">Elementor</a></li>
						<li><a href="https://wordpress.org/plugins/forge/">Forge</a></li>
						<li><a href="https://wordpress.org/plugins/page-builder-sandwich/">Sandwich</a></li>
						<li><a href="https://wordpress.org/plugins/siteorigin-panels/">SiteOrigin</a></li>
						<li><a href="https://wordpress.org/plugins/tailor/">Tailor</a></li>
						<li><a href="https://codecanyon.net/item/visual-composer-page-builder-for-wordpress/242431?ref=webmandesign">Visual Composer</a></li>
					</ul>
				</div>

			</div>

		</div>

	<h3 id="css-classes">
		How to restyle elements with ease? <small>Using special predefined CSS classes.</small>
		<a href="#faq" class="btn alignright">Back to FAQ list &uarr;</a>
		<span class="badge alignleft"></span>
	</h3>

		<div class="row">

			<div class="col-sm-12 col-md-6">

				<p>Yes, this theme predefines some useful CSS classes for you so you can use them <a href="https://vimeo.com/manage/videos/523023071">in the block editor</a>, in your page builder, or directly in the HTML. These custom special CSS classes will modify the appearance of your website elements.</p>
				<p>For full, up-to-date list of these classes and instructions on how to use them, please, refer to the <a href="https://themedemos.webmandesign.eu/#{config.slug}/theme-features/css-classes/">"Helper CSS classes" page on the theme demo website</a>.</p>

				<p>All of these classes are integrated with <a href="#beaver-builder">Beaver Builder page builder</a> CSS field for easier usage.</p>

				<a href="https://themedemos.webmandesign.eu/#{config.slug}/theme-features/css-classes/" class="btn btn-primary btn-lg mt-s"><strong>List of CSS classes</strong> you can use &raquo;</a>

			</div>

			<div class="col-sm-12 col-md-6">

				<a href="https://www.dropbox.com/s/8u4k9jciim63d83/beaver-builder-class.jpg">
					<img src="https://www.dropbox.com/s/8u4k9jciim63d83/beaver-builder-class.jpg?dl=1" alt="Selecting custom predefined CSS class easily in Beaver Builder page builder" title="Selecting custom predefined CSS class easily in Beaver Builder page builder" class="frame" />
				</a>

			</div>

		</div>

	<h3 id="fonts">
		How to set up and use a custom font? <small>Google Fonts or Typekit setup.</small>
		<a href="#faq" class="btn alignright">Back to FAQ list &uarr;</a>
		<span class="badge alignleft"></span>
	</h3>

		<p>Instead of restricting you to using either Google Fonts or Typekit fonts (or any other fonts provider) built within the theme, you have the <strong>luxury of choosing your own preferred fonts provider</strong> (or using <a href="https://en.wikipedia.org/wiki/Web_typography#Web-safe_fonts">web safe fonts</a>) with the #{config.name} WordPress theme.</p>
		<p>There are multiple different custom fonts plugins you can use, such as <a href="https://wordpress.org/plugins/easy-google-fonts/"><strong>Easy Google Fonts</strong></a>, <a href="https://wordpress.org/plugins/typekit-fonts-for-wordpress/"><strong>Typekit Fonts for WordPress</strong></a> or <a href="https://wordpress.org/plugins/font-squirrel/"><strong>Font Squirrel (unofficial)</strong></a>.</p>
		<p>All the information regarding the theme typography and fonts setup can be found in <strong><em>Appearance &rarr; Customize &rarr; Theme Options &rarr; Typography</em></strong>.</p>

		<div class="alert alert-info">
			<p>More advanced, but more flexible procedures:</p>
			<ul>
				<li>For more thorough and flexible procedure you can watch a video on how to <a href="https://www.youtube.com/watch?v=a40a1e2lTY0">change any font on any WordPress website</a>.</li>
				<li>For using a <a href="#child-theme">child theme</a> to add custom fonts, please read/watch <a href="http://www.wpbeginner.com/wp-themes/how-to-add-custom-fonts-in-wordpress/">How to Add Custom Fonts in WordPress</a>.</li>
			</ul>
		</div>

	<h3 id="icons">
		How to set up custom icons set?
		<a href="#faq" class="btn alignright">Back to FAQ list &uarr;</a>
		<span class="badge alignleft"></span>
	</h3>

		<p>The theme comes bundled with 2 icons sets:</p>

		<ul>
			<li>
				<h4><strong>Utility icons</strong></h4>

				<p>The utility icons set is used by the theme internally to provide icons for post meta information, for example. These icons can not be changed easily, you can override them with custom CSS code only. The theme uses <a href="http://genericons.com/"><strong>Genericons</strong> icon set</a> as the utility icons.</p>
			</li>
			<li>
				<h4><strong>Content icons</strong></h4>

				<p>Thanks to help of <a href="#webman-amplifier"><strong>WebMan Amplifier</strong></a> plugin, you can use a set of custom content icons, which can be changed under <strong><em>Appearance &rarr; Icon Font</em></strong> in your WordPress dashboard using a <a href="http://fontello.com/"><strong>Fontello</strong> online icon fonts generator</a>. These icons are then available to set in <a href="#content-modules">Content Modules</a> posts or for use anywhere on the website (just grab the icon-specific "Instant HTML" when hovering over an icon in <strong><em>Appearance &rarr; Icon Font</em></strong> page).</p>

				<p>By default, the theme provides its own custom content icons set best suited for the theme usage purpose. If you import your own Fontello icons set, this will override the default theme icons. In case you <em>just want to add a new icons</em> to the theme's predefined set, please import the theme's <code>#{config.slug}/assets/fonts/fontello/config.json</code> file into Fontello icons font generator first (as seen in the picture below) and then select your additional icons or import your custom icons SVG into Fontello (read instructions on <a href="https://github.com/fontello/fontello/wiki">how to use Fontello</a>).</p>

				<figure class="mt-m">
					<a href="http://easycaptures.com/fs/uploaded/1026/5529117955.jpg">
						<img src="http://easycaptures.com/fs/uploaded/1026/5529117955.jpg" alt="Importing config.json file into Fontello.com icons font generator" />
					</a>
					<figcaption>Importing config.json file into Fontello.com icons font generator</figcaption>
				</figure>
			</li>
		</ul>

	<h3 id="cookies">
		How to set up cookies notification?
		<a href="#faq" class="btn alignright">Back to FAQ list &uarr;</a>
		<span class="badge alignleft"></span>
	</h3>

		<p>Every European website has to conform European Union guidelines on privacy and data protection and <a href="http://ec.europa.eu/ipg/basics/legal/cookies/index_en.htm">inform users about cookies</a> being set by the website. There are multiple ways to go about this with WordPress, you can <a href="https://wordpress.org/plugins/search.php?q=cookie">use a plugin for that</a>, or set a notification with <a href="https://cookieconsent.insites.com/"><strong>Cookie Consent</strong> by Insites</a> script (there is also a <a href="https://wordpress.org/plugins/cc-cookie-consent/">plugin for this script</a>).</p>

	<h3 id="error404">
		How to customize error 404 page?
		<a href="#faq" class="btn alignright">Back to FAQ list &uarr;</a>
		<span class="badge alignleft"></span>
	</h3>

		<p>In case you would like to customize the theme's <a href="https://codex.wordpress.org/Creating_an_Error_404_Page">error 404 page</a> and you do not want to touch a line of code, you can do so easily with a help of a <a href="https://wordpress.org/plugins/404page/"><strong>404page</strong> plugin</a>. Or, you can use <a href="#beaver-themer"><strong>Beaver Themer</strong></a> plugin too.</p>

	<h3 id="admin">
		How to customize WordPress admin?
		<a href="#faq" class="btn alignright">Back to FAQ list &uarr;</a>
		<span class="badge alignleft"></span>
	</h3>

		<p>If you are building a website for a client using WordPress (and #{config.name} theme), you might want to adapt the WordPress admin area a bit to remove unnecessary things and maybe even rename some post types. In this case we provide some useful resources you would want to check out:</p>

		<ul>
			<li><a href="https://webdesign.tutsplus.com/courses/wordpress-admin-customization"><strong>WordPress Admin Customization</strong></a> video course</li>
			<li>Use <a href="https://wordpress.org/plugins/cpt-editor/"><strong>Custom Post Type Editor</strong></a> plugin to rename any post type</li>
			<li>Use <a href="https://wordpress.org/plugins/rename-taxonomies/"><strong>Rename Taxonomies</strong></a> plugin to rename any taxonomy</li>
			<li>For easier pages/post advanced settings use <a href="https://wordpress.org/plugins/advanced-custom-fields/"><strong>Advanced Custom Fields</strong></a> plugin. Once you activate this plugin, the theme will automatically create metaboxes for all the <a href="#custom-fields">custom fields</a> it uses for you.</li>
		</ul>

	<h3 id="breadcrumbs">
		How to set up breadcrumbs?
		<a href="#faq" class="btn alignright">Back to FAQ list &uarr;</a>
		<span class="badge alignleft"></span>
	</h3>

		<p>The theme supports <a href="https://wordpress.org/plugins/breadcrumb-navxt/"><strong>Breadcrumb NavXT</strong></a> plugin that allows very flexible set up and display of breadcrumbs navigation on your website. After you install and activate the plugin, the theme displays the breadcrumbs navigation in preset location (you can change this in <strong><em>Appearance &rarr; Customize &rarr; Theme Options &rarr; Layout</em></strong>).</p>
		<p>If you would like to display breadcrumbs navigation the same way it is displayed on the theme demo website, please use these settings (feel free to set up all the other breadcrumbs settings to your needs):</p>
		<dl>
			<dt>
				<strong><em>Settings &rarr; Breadcrumb NavXT &rarr; General &rarr;</em></strong> <em>"Breadcrumbs Separator"</em>
			</dt>
			<dd>
				Set to <code>&lt;span class="sep"> / &lt;/span></code>.
			</dd>

			<dt>
				<strong><em>Settings &rarr; Breadcrumb NavXT &rarr; General &rarr;</em></strong> <em>"Home Template"</em><br>
				<strong><em>Settings &rarr; Breadcrumb NavXT &rarr; General &rarr;</em></strong> <em>"Home Template (Unlinked)"</em>
			</dt>
			<dd>
				Prepend the existing text with <code class="wrap">&lt;a href="#page" class="back-to-top animated">Back to top &uarr;&lt;/a> &lt;span class="breadcrumbs-title">You are here: &lt;/span>...</code>.

				<div class="alert alert-info">
					The "Back to top" link above will only be displayed in breadcrumbs navigation below the page/post content.
				</div>
			</dd>
		</dl>

	<h3 id="image-sizes">
		My images are blurry/small/of bad quality, what can I do?
		<a href="#faq" class="btn alignright">Back to FAQ list &uarr;</a>
		<span class="badge alignleft"></span>
	</h3>

		<div class="row">

			<div class="col-sm-12 col-md-6">

				<p>For the information about what image sizes are declared in the theme and how you should set up the WordPress native image sizes, please navigate to <strong><em>Settings &rarr; Media</em></strong> and read the <em>"Recommended image sizes"</em> section.</p>
				<p>WordPress will rescale and crop the images to selected formats automatically during the image upload process. If you already have some images on your website, these need to be rescaled when using the theme. Please use a plugin such as <a href="https://wordpress.org/plugins/force-regenerate-thumbnails/"><strong>Force Regenerate Thumbnails</strong></a> to do the rescaling for you. (Don't forget to run the Force Regenerate Thumbnails plugin after its activation under <strong>Tools &rarr; Force Regenerate Thumbnails</strong>!)</p>

				<div class="alert alert-danger">
					<h4>Blurred images</h4>
					<p>To prevent blurred images, please <strong>make sure you upload images of minimal recommended size</strong> (see <em>"Recommended image sizes"</em> section on <strong><em>Settings &rarr; Media</em></strong> WordPress admin page).</p>
				</div>

			</div>

			<div class="col-sm-12 col-md-6">

				<h4><strong><a href="#woocommerce">WooCommerce</a> Image sizes</strong></h4>
				<p>If you are using WooCommerce plugin, set up these config.image sizes for the best compatibility with the theme:</p>
				<table class="table mt-s">
					<tr><th>Catalog Images</th><td>480&nbsp;px &times; Use any custom height<br>Cropped</td></tr>
					<tr><th>Single config.Image</th><td>1200&nbsp;px &times; Use any custom height<br>Cropped</td></tr>
					<tr><th>config.Thumbnails</th><td>120&nbsp;&times;&nbsp;120&nbsp;px<br>Cropped</td></tr>
				</table>

			</div>

		</div>

		<div class="alert alert-warning">
			<h4>Image file size optimization</h4>
			<p>It is recommended to use an <a href="https://wordpress.org/plugins/search/image+optimization/">image optimization plugin</a> to keep the sane size of the uploaded image files on your server automatically.</p>
		</div>

	<h3 id="custom-fields">
		What are custom fields and how to use them?
		<a href="#faq" class="btn alignright">Back to FAQ list &uarr;</a>
		<span class="badge alignleft"></span>
	</h3>

		<div class="row">

			<div class="col-sm-12 col-md-8">

				<p>To allow more control over pages and posts appearance, the theme uses some predefined <a href="https://codex.wordpress.org/Custom_Fields">custom fields</a>.</p>

				<p>You can use the <a href="https://codex.wordpress.org/Custom_Fields#Usage">WordPress native custom fields interface</a>, but <strong>for the best experience it is recommended to install and activate the <a href="https://wordpress.org/plugins/advanced-custom-fields/">Advanced Custom Fields plugin</a></strong>. The theme is compatible with this plugin out of the box and automatically creates easy-to-use metaboxes for you for all its options (custom fields). If you prefer to use a <a href="https://wordpress.org/plugins/search.php?q=custom+fields">different custom fields plugin</a>, you need to set the plugin up according to information provided below.</p>

				<p>Below is an information about the custom fields used in the theme:</p>

				<h4 class="mt-m"><strong><a href="#page-intro">Intro section</a> related</strong></h4>

					<p>For easy setup of these custom fields please use <a href="http://easycaptures.com/fs/uploaded/1027/1200173498.png">the <abbr title="Advanced Custom Fields plugin">ACF</abbr> metabox <small>(click to preview)</small></a>.</p>
					<dl>
						<dt><code>no_intro</code></dt>
						<dd>
							<p><strong title="Value type">Boolean</strong>: "1" or empty</p>
							<p>Disables Intro section for the current page/post.</p>
							<p>With supported post types (pages, posts, projects, staff and WooCommerce config.) you can preferably use a special <a href="#page-templates">page template</a> instead.</p>
						</dd>

						<dt><code>no_intro_media</code></dt>
						<dd>
							<p><strong title="Value type">Boolean</strong>: "1" or empty</p>
							<p>Removes any intro media (such as image) from the particular page.</p>
						</dd>

						<dt><code>intro_image</code></dt>
						<dd>
							<p><strong title="Value type">String</strong>: URL or ID of the image</p>
							<p>Overrides the default intro section image with a custom one.</p>
						</dd>

						<dt><code>show_intro_widgets</code></dt>
						<dd>
							<p><strong title="Value type">Boolean</strong>: "1" or empty</p>
							<p>Displays <a href="#sidebars">Intro Widgets</a> area if Intro section is displayed.</p>
							<p>With supported post types (pages, posts, projects, staff and WooCommerce config.) you can preferably use a special <a href="#page-templates">page template</a> instead.</p>
						</dd>
					</dl>

				<h4 class="mt-m"><strong><a href="#page-templates">Child pages list</a> related</strong></h4>

					<p>For easy setup of these custom fields please use <a href="http://easycaptures.com/fs/uploaded/1021/8753884824.png">the <abbr title="Advanced Custom Fields plugin">ACF</abbr> metabox <small>(click to preview)</small></a>. The metabox is only displayed for pages set as a child of some parent page.</p>
					<dl>
						<dt><code>no_thumbnail</code></dt>
						<dd>
							<p><strong title="Value type">Boolean</strong>: "1" or empty</p>
							<p>Removes the page thumbnail (featured image) from the list of child pages on the parent page.</p>
						</dd>
					</dl>

				<h4 class="mt-m"><strong><a href="#any-page-builder">Page builder</a> related</strong></h4>

					<div class="alert alert-warning">
						<h4>"Page builder" page/post template</h4>
						<p>If you prefer using page templates instead of the custom fields and metaboxes, you can simply assign a <a href="#page-templates"><strong><em>"Page builder"</em> page/post template</strong></a> wherever you want to use your page builder.</p>
					</div>
					<p>These custom fields can be set for any post type <strong>only if you are not using</strong> <a href="#beaver-builder">Beaver Builder</a> page builder.</p>
					<p><em>Why the theme uses a custom field for this instead of a page template?</em> For better flexibility. If this custom field was replaced with a custom page template, you could not use a different page template on that specific page or post. The theme allows you to use any page template you like while preparing it for your page builder plugin custom layout.</p>
					<p>For easy setup of these custom fields please use <a href="http://easycaptures.com/fs/uploaded/1021/5112036139.png">the <abbr title="Advanced Custom Fields plugin">ACF</abbr> metabox in the sidebar of page/post edit screen <small>(click to preview)</small></a>.</p>
					<dl>
						<dt><code>content_layout</code></dt>
						<dd>
							<p><strong title="Value type">Predefined</strong>: empty, or <code>no-paddings</code>, or <code>stretched</code></p>
							<p>Prepares the content area of the page/post for use with your page builder plugin.</p>
							<p>You don't need to set this if you are <a href="#beaver-builder">using <strong>Beaver Builder</strong></a>.</p>
						</dd>
					</dl>

			</div>

			<div class="col-sm-12 col-md-4">

				<div class="alert alert-success mt0">
					<h4>Easy setup with metaboxes by <abbr title="Advanced Custom Fields">ACF</abbr></h4>
					<p>For very easy setup of custom fields please install and activate the <a href="https://wordpress.org/plugins/advanced-custom-fields/"><strong>Advanced Custom Fields</strong></a> plugin.</p>
					<p>Once you activate this plugin, the <strong>theme will automatically create metaboxes for all custom fields</strong> it uses for specific post types.</p>
				</div>

			</div>

		</div>

	<h3 id="speed">
		How to speed up the website?
		<a href="#faq" class="btn alignright">Back to FAQ list &uarr;</a>
		<span class="badge alignleft"></span>
	</h3>

		<p>Having a performant, speedy website is a must in todays world. It makes your website more SEO friendly and most importantly pleasing for your visitors. This theme was coded with performance in mind, however, speeding up a website is a complex process that requires some further steps:</p>

		<ul>
			<li>
				<h4><strong>Use a good hosting</strong></h4>
				<p>Having a good host for your website is one of the most important steps you can make towards a speedy website. It should support PHP7 as that alone speeds up your website tremendously. Depending on your location it is also good to use a host that has servers in your country or on the same continent, at least. We recommend using <a href="https://www.siteground.com/index.htm?afcode=dfd1a1c5021b5f6281efaac5689f9f75">Siteground</a>, <a href="https://wpengine.com/">WP Engine</a>, <a href="https://pagely.com/">Pagely</a> or <a href="https://wordpress.com/?aff=6509&cid=588078"><strong>WordPress.com</strong> <em>Business</em> plan</a>. You can also check out <a href="https://wordpress.org/hosting/">WordPress hosting recommendation page</a>.</p>
			</li>
			<li>
				<h4><strong>Optimize your images, video, audio files</strong></h4>
				<p>You should always keep the file size of your images, video, audio and other asset files on your website as low as possible. We suggest preparing the images before you upload them to your website: compress them, reduce the dimensions (maybe even crop them). You can also use plugins to keep your image sizes down: <a href="https://wordpress.org/plugins/imsanity/">Imsanity</a> and <a href="https://wordpress.org/plugins/wp-smushit/">WP Smush Image Optimizer</a>, for example.</p>
				<p>In case of video and audio files set the optimal compression and formats before uploading them to your website. Maybe even consider using a 3rd party services such as <a href="https://vimeo.com/">Vimeo</a>, <a href="https://www.youtube.com/">YouTube</a> and <a href="https://soundcloud.com/">SoundCloud</a> to host your video and audio files off your servers.</p>
				<p>Also consider using a <abbr title="Content Deliver Network">CDN</abbr> service such as <a href="https://www.cloudflare.com/">CloudFlare</a>.</p>
			</li>
			<li>
				<h4><strong>Enable caching</strong></h4>
				<p>We recommend at least <a href="https://www.siteground.com/kb/leverage-browser-caching/">enabling the basic browser caching</a> and <a href="https://www.siteground.com/kb/how_to_enable_gzip_compression_for_your_pages/">GZIP compression</a> of your website. However, you get better results using a dedicated caching solution such as <a href="https://wp-rocket.me/">WP Rocket</a> (or try other WordPress caching plugin, like <a href="https://wordpress.org/plugins/wp-super-cache/">WP Super Cache</a>).</p>
				<p>Your hosting provider may actually provide you with a caching solution built directly into the hosting service. Check this with your hosting provider.</p>
				<p>With your caching solution you should also be able to set up a CSS and JavaScript files combining and minification. As minification is a complex process that might cause JavaScript errors on your website we recommend to test it thoroughly and always checking the results before live deploying.</p>
			</li>
		</ul>

		<p>For measuring your website performance and tips on how to improve it try using <a href="https://gtmetrix.com/">GTmetrix</a>, <a href="https://tools.pingdom.com/">Pingdom Tools</a> and <a href="https://www.webpagetest.org/">WebPageTest</a>.</p>

	<h3 id="css">
		How to edit CSS or add your own?
		<a href="#faq" class="btn alignright">Back to FAQ list &uarr;</a>
		<span class="badge alignleft"></span>
	</h3>

		<p>If you need to apply a custom CSS to override theme styles, since <strong>WordPress 4.7</strong> you can add your custom CSS into <strong><em>Appearance &rarr; Customize &rarr; Additional CSS</em></strong>.</p>
		<p>Alternatively use a <a href="#child-theme" >child theme</a>.</p>

