block customizer/fse
	block customizer/fse/about
		p Even though this theme allows you to <a href="#site-editor">edit your site fully</a>, including theme templates, you can still use WordPress Customizer (#[+mark( 'nav', 'Appearance', 'Customize' )]) where you'll find additional advanced theme options such as <a href="#typography">harmonious typography</a>, <a href="#rtl-fix">language direction fix</a>, or <a href="#custom-background">website background image setup</a>.

	block customizer/fse/site-editor
		+sub_section( '"Styles" section in site editor' )

			if true === config.compatibility.hybrid
				+danger( 'This has to be enabled!', 'h4' )
					p If you <em>disabled</em> full site editing in <a href="#disable-fse">theme options</a>, you can <strong>not</strong> edit "Styles" section in site editor.
					p Continue using #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options' )] instead.

			p If you are looking for options to modify <em>colors</em> or <em>layout widths</em>, these can be found in <a href="#site-editor-styles">"Styles" section of full site editor</a>.

	block customizer/fse/theme-options

		block customizer/fse/theme-options/typography
			+sub_section( 'Harmonious typography', 'typography' )

				+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Typography' ).is-path-featured

				p Theme provides options for setting up more advanced harmonious typography in comparison to typography <a href="#site-editor-styles">options in site editor</a> (full site editing). You can find these options in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Typography' )].

				p Set up global base font size and tweak harmonious typography ratios. The theme will then automatically calculate font sizes for headings and other elements to assure the best readability experience.

				p Text sizes are also responsively fluid, adapting to your visitor's screen size.

				p You can also set up custom font families, which can be simply and consistently reused in block editor without breaking your website design and typography by mixing too many of different fonts.

				p And, you are also free to use any font family from <a href="https://fonts.google.com/">Google Fonts</a>. <strong>#{config.name}</strong> theme even makes sure these font families are served directly from your website and not from Google's servers. This effectively enhances your visitor's privacy and your website's <a href="https://wikipedia.org/wiki/General_Data_Protection_Regulation"><abbr title="General Data Protection Regulation">GDPR</abbr></a> compliance.

		block customizer/fse/theme-options/rtl-fix
			+sub_section( 'Language direction fix', 'rtl-fix' )

				+info( 'For multilingual websites only', 'h4' )
					p The information in this section is only relevant when you build a <em>multilingual website that allows switching between languages with different text direction</em>.

				+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Layout', 'Language Direction' ).is-path-featured

				p Currently <sup>(as of September 2023)</sup> there seems to be no way for building truly <abbr title="Left-To-Right">LTR</abbr>+<abbr title="Right-To-Left">RTL</abbr> multilingual website <em>when using asymmetric block designs</em> (such as rounded borders on the right side of blocks only) in templates and template parts of <a href="#site-editor">full site editor</a>.

				p <strong>#{config.name}</strong> theme attempts to solve this issue by applying language direction fix at #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Layout', 'Language Direction' )]. Apply this if you experience inconsistency with layouts when using <abbr title="Right-To-Left">RTL</abbr> languages:

				ul
					li Set "<strong>Fix LTR template parts</strong>" when you've built your templates and template parts in <abbr title="Left-To-Right">LTR</abbr> language (such as English, which is also theme's default). When user of your multilingual website switches to <abbr title="Right-To-Left">RTL</abbr> language, the theme attempts to flip designs accordingly.

					li Set "<strong>Fix RTL template parts</strong>" when you've built your templates and template parts in <abbr title="Left-To-Right">RTL</abbr> language. When user of your multilingual website switches to <abbr title="Left-To-Right">LTR</abbr> language, the theme attempts to flip designs accordingly.

		if true === config.compatibility.hybrid
			block customizer/fse/theme-options/disable-fse
				+sub_section( 'Disabling full site editing', 'disable-fse' )

					+warning( 'For developers only', 'h4' )
						p Use this option <strong>only if you really need to</strong>, and <strong>you are familiar with PHP coding</strong>. It is advisable to use <a href="#site-editor">full site editing</a> whenever possible.
						p In some cases your plugin may not be compatible with WordPress full site editing. Disabling site editor may help.

					+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Layout', 'Site Editing' ).is-path-featured

					p <strong>#{config.name}</strong> theme contains a <em>hybrid mode</em> that allows you to <em>disable editing theme templates</em> and use the theme in more traditional, "classic" way. This mode can be useful when your plugin does not work with WordPress full site editing (yet), for example.

					p Advantages of hybrid mode:

					ul
						li Developers can use PHP code to tweak the theme and WordPress the way they are used to with <span title="As opposed to block themes, which are full site editing enabled.">classic themes</span>.

						li You can still <em>edit all template parts visually in block editor</em> with <strong>#{config.name}</strong> theme! No need to use coding for that, which means great customization options.

					p Toggle template editing at #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Layout', 'Site Editing' )].

					+tip( 'Classic vs Block theme', 'h4' )
						p Learn more about the difference between <em>classic</em> and <em>block</em> themes at <a href="https://developer.wordpress.org/themes/block-themes/">WordPress website</a>.
						p <strong>#{config.name}</strong> is a unique block theme which <em>can be switched to classic/hybrid theme</em> by disabling <a href="#site-editor">full site editing</a>.
