//-
//- @link  https://pugjs.org/api/getting-started.html
//- @link  https://devhints.io/pug
//-

- var time = new Date();
-
	var docs = [
		'Angelica',
		'Auberge|https://themedemos.webmandesign.eu/wp-content/themes/auberge-plus/screenshot.jpg|(Plus)',
		'Björk',
		'Cindy|png',
		'Deborah|png',
		'Eimear|png',
		'Forstron',
		'Francesca',
		'Gwyneth',
		'Hilda',
		'Icelander',
		'Ileana',
		'Josephine',
		'Michelle|png',
		'Modern',
		'Monument Valley',
		'Mustang|jpg|(Lite)',
		'Polyclinic',
		"Q'tron",
		'Receptar',
		'Reykjavik',
		'Zooey',
	];

doctype html

html( lang="en" )
	head
		meta( charset="utf-8" )
		meta(
			name="viewport"
			content="width=device-width, initial-scale=1"
		)

		title WebMan Design documentation repository

		link( rel="icon" type="image/x-icon" href="favicon.png" )

		style
			include style.css

	body( data-version=time.toLocaleString() )
		a( name="top" )

		h1 Documentation by <a href="https://www.webmandesign.eu">WebMan Design</a>

		section
			each doc in docs
				- doc     = doc.split( '|' );
				- folder  = doc[0].toLowerCase().replace( ' ', '-' ).replace( "'", '' ).replace( 'ö', 'o' );
				- img     = ( doc[1] ) ? ( doc[1] ) : ( 'jpg' );
				- img_url = ( 0 > img.indexOf( 'http' ) ) ? ( 'https://themedemos.webmandesign.eu/wp-content/themes/' + folder + '/screenshot.' + img ) : ( img );
				- suffix  = ( doc[2] ) ? ( '<span class="suffix">' + doc[2] + '</span>' ) : ( '' );

				article
					a( href=folder+"/index.html" )
						h2 #{ doc[0] } !{ suffix } <small>Documentation</small>
						figure
							img( src=img_url alt=doc[0]+" documentation")
