div.site-branding
	a( href=config.url.info ).custom-logo-link
		img( src=config.url.logo alt="WebMan Design logo" )
	span.site-title <strong>#{config.name}</strong> User Manual<br>
		small by <a href="#{config.url.author}">WebMan Design</a>

ul
	li <a href="#{config.url.videos}">Video tutorials</a>
	li <a href="#{config.url.author}">WordPress themes</a>
	li <a href="#{config.url.support}">Support forum</a>
