div.site-branding
	a( href=config.url.info )
		img( src=config.url.logo alt="WebMan Design logo")
	| <strong>#{config.name}</strong> User Manual

ul
	li <a href="#{config.url.videos}">Video tutorials</a>
	li <a href="#{config.url.author}">WordPress themes</a>
	li <a href="#{config.url.support}">Support forum</a>
