+sub_section( 'Manual Theme Update', 'update-manual' )
	p Download the theme ZIP package from where you've obtained it originally. Then follow the steps below:


	h4 <strong>Updating via WordPress dashboard</strong>

	ol
		li In WordPress dashboard navigate to #[+mark( 'nav', 'Appearance', 'Themes' )] and click the #[+mark( 'btn', 'Add Theme' )] button next to "Themes" page title.

		li On "Add Themes" screen click the #[+mark( 'btn', 'Upload Theme' )] button next to page title.

		li In the displayed form, choose the downloaded <strong title="#{config.slug}.zip">theme ZIP file</strong> and click the #[+mark( 'btn', 'Install Now' )] button.

		li On the theme version comparison page click the #[+mark( 'btn', 'Replace installed with uploaded' )] button.

		li Your theme is updated now.


	h4 <strong>Updating via FTP</strong>

	p This is more advanced manual update procedure and you will need an FTP client (such as <a href="https://filezilla-project.org/">FileZilla</a>) to connect to your server:

	ol
		li Unpack the downloaded theme ZIP file on your computer.

		li Now you will need an <a href="https://filezilla-project.org/">FTP client</a> to connect to your server.

		li On your server navigate to <code>WORDPRESS_FOLDER/wp-content/themes/</code> folder.

		li Delete the existing <code>#{config.slug}</code> folder (or create a backup just in case - you can do this simply by renaming the folder name by appending <code>.backup</code> to its name so it becomes <code>#{config.slug}.backup</code>, for example).

		li Copy the unpacked theme <code>#{config.slug}</code> folder from your computer (from step&nbsp;1 above) into <code>WORDPRESS_FOLDER/wp-content/themes/</code> folder on your server.

		li Log into your WordPress admin area and confirm the new version of the theme in #[+mark( 'path', 'Appearance', 'Themes' )]. Your theme should be updated now. (And you can delete the <code>#{config.slug}.backup</code> folder from step&nbsp;4 above.)
