- title   = 'Pages';
- id      = 'pages';
- nav[id] = title;

+section( title, id )

<h2 id="pages">Pages<small>, <a href="#page-intro">Page Intro</a> and <a href="#page-templates">Page Templates</a></small></h2>
	<div class="section indented">

		<div class="row">

			<div class="col-sm-12 col-md-6">

				<h3>Setting Up a Homepage and Blog Page</h3>

					<ol>
						<li>
							In WordPress admin navigate to <strong><em>Appearance &rarr; Customize &rarr; Homepage Settings</em></strong> (or to <strong><em>Settings &rarr; Reading</em></strong>).
						</li>
						<li>
							For <em>"Your homepage displays"</em> option set <em>"A static page (select below)"</em>.
						</li>
						<li>
							Select the homepage from dropdown list. This page will become your home/front page.<br>
							Select the posts page from dropdown list. This page will become your blog page.
						</li>
					</ol>

					<div class="alert alert-info">
						<strong>TIP:</strong> You can also do this in <a href="#customizer">Customizer</a> where you get live preview of your settings.
					</div>

			</div>

			<div class="col-sm-12 col-md-6">

				<h3 id="page-excerpt"><strong>Page Excerpt</strong></h3>

					<p>The theme adds support for excerpts also to WordPress pages. Page excerpt will be displayed in page intro section as well as in child pages list (read more in section about <a href="#page-templates">page templates</a>).</p>

					<div class="alert alert-warning">
						<h4>WordPress older then version 5:</h4>
						<p>If the "Excerpt" field is not displayed on a page edit screen, please enable it in the <a href="http://www.wpbeginner.com/glossary/screen-options/" target="_blank"><strong>"Screen Options"</strong></a> tab in the upper right corner of the screen.</p>
					</div>

					<div class="alert alert-info">
						<p><strong>TIP:</strong> You can use <a href="#plugins-others"><strong>Rich Text Excerpts</strong> plugin</a> for rich formatted excerpts.</p>
					</div>

			</div>

		</div>

		<h3 id="page-intro">Page Intro Section</h3>

			<div class="row">

				<div class="col-sm-12 col-md-8">

					<p>Page intro is basically a main title area of the page, post or archive page. By default it displays <strong>intro image</strong> (and video), <strong>page title</strong> (optionally with a <a href="#wp-subtitle">subtitle</a>) and <strong>page excerpt</strong>:</p>

					<h4 class="mt-s"><strong>Page excerpt</strong></h4>

						<p><strong>Page Excerpt</strong> content depends on the page you are on.<br>
						If it is an actual WordPress Page or Post or any custom post type, you can set the <em>"Excerpt"</em> field.<br>
						On taxonomy archive pages it displays the taxonomy (such as post category or tag) term description which you can set for any/all taxonomy terms in WordPress.<br>
						If you want to display some description text for the custom post type archive pages too, you need to <a href="https://wordpress.org/plugins/post-type-archive-descriptions/" target="_blank">use a plugin for that</a>.</p>

					<h4 class="mt-s"><strong>Image and Video</strong></h4>

						<p><strong>Intro image</strong> is taken from your website header images that can be set in <strong><em>Appearance &rarr; Customize &rarr; Header Media</em></strong>. That image can be then overridden by setting up a post/page featured image, which can be again overridden by setting up a dedicated <a href="#custom-fields"><code>intro_image</code> custom field</a>.</p>

						<p>On single pages and posts the image is not displayed by default, unless you set a page featured image (or aforementioned custom field).</p>

						<p>On <strong>homepage of your website</strong> the intro section has a different, special layout with image (or video) background overlayed with a page title and excerpt. And yes, since WordPress 4.7 you can also <strong>set a video</strong> as a background for your homepage intro section in <strong><em>Appearance &rarr; Customize &rarr; Header Media</em></strong> (please read <a href="https://make.wordpress.org/core/2016/11/26/video-headers-in-4-7/" target="_blank"><em>"Bandwidth considerations"</em> section</a> for info about header video limitations in WordPress).</p>

						<p>If you are using <a href="#woocommerce">WooCommerce plugin</a>, intro image is not displayed on single product pages even if you set a product featured image. If you really need to display an intro image there, use aforementioned custom field for that.</p>

				</div>

				<div class="col-sm-12 col-md-4">

					<p>If you would like to remove the intro section (to set up your own with a page builder, for example), use "<strong>No intro</strong>" page template (or set up the <a href="#custom-fields">specific custom field</a>).</p>

					<p>Colors of intro section can be customized in <strong><em>Appearance &rarr; Customize &rarr; Theme Options &rarr; Colors: Intro</em></strong>.</p>

					<div class="alert alert-info">
						<h4>Intro Widgets</h4>
						<p>You can additionally display some widgets in the intro section. Just add those widgets into <a href="#sidebars">Intro Widgets area</a> and set <a href="#page-templates">"With intro widgets" page template</a> for the page or post.</p>
					</div>

				</div>

			</div>

		<h3 id="page-templates">Page Templates <small>and Post Templates</small></h3>

			<p>Since <strong>WordPress 4.7</strong> you can use page templates also with other post types. Where appropriate, this is stated in the list below. The theme contains these useful page templates you can use out of the box:</p>

			<dl>
				<dt>
					<strong>Blank</strong>
					<a href="https://themedemos.webmandesign.eu/#{theme_slug}/theme-features/template-blank/" target="_blank" class="alignright btn btn-default">Demo</a>
				</dt>
				<dd>
					<p>There is no header, no intro section, no H1 heading tag and no footer on this page template. This page template works best with a <a href="#beaver-builder">page builder</a> and is suitable for creating custom <a href="https://en.wikipedia.org/wiki/Landing_page" target="_blank">landing pages</a>.</p>
				</dd>

				<dt>
					<strong>With intro widgets</strong>
					<a href="https://themedemos.webmandesign.eu/#{theme_slug}/theme-features/template-intro-widgets/" target="_blank" class="alignright btn btn-default">Demo</a>
				</dt>
				<dd>
					<p>There is an additional <a href="#sidebars"><em>"Intro Widgets"</em> widget area</a> displayed in the intro section of this page template. No intro widgets are displayed when the intro section is not displayed on the page or there are no widgets set in <em>"Intro Widgets"</em> sidebar.</p>

					<div class="alert alert-info">
						<small>Since WordPress 4.7 you can set this page template also for <a href="#posts">posts</a>, <a href="#projects">projects</a>, <a href="#staff">staff posts</a> and <a href="#woocommerce">WooCommerce products</a>.</small>
					</div>
				</dd>

				<dt>
					<strong>No intro</strong>
					<a href="https://themedemos.webmandesign.eu/#{theme_slug}/theme-features/template-no-intro/" target="_blank" class="alignright btn btn-default">Demo</a>
				</dt>
				<dd>
					<p>Use this page template to remove the page intro title section (when you want to set up your own). Only the page content will be displayed.</p>
					<p>For standard pages, the title will be <a href="#accessibility">accessibly</a> hidden.</p>
					<p>On the other hand, if you are using a Beaver Builder page builder, please, <strong>do not forget</strong> to set up your custom <code>H1</code> heading, as it is being completely removed from the page in this case! The same applies for pages that you <a href="#any-page-builder">set to be ready for any other page builder</a>.</p>
					<p>This page template works best with a <a href="#beaver-builder">page builder</a>.</p>

					<div class="alert alert-info">
						<small>Since WordPress 4.7 you can set this page template also for <a href="#posts">posts</a>, <a href="#projects">projects</a>, <a href="#staff">staff posts</a> and <a href="#woocommerce">WooCommerce products</a>.</small>
					</div>
				</dd>

				<dt>
					<strong>With sidebar</strong>
					<a href="https://themedemos.webmandesign.eu/#{theme_slug}/theme-features/template-sidebar/" target="_blank" class="alignright btn btn-default">Demo</a>
				</dt>
				<dd>
					<p>By default, there is no sidebar displayed on pages. However, if you would like to display a sidebar on a page, use this page template with it.</p>
				</dd>

				<dt>
					<strong>List child pages</strong>
					<a href="https://themedemos.webmandesign.eu/#{theme_slug}/theme-features/" target="_blank" class="alignright btn btn-default">Demo</a>
				</dt>
				<dd>
					<p>Please set this page template <strong>for a parent page only</strong>.</p>
					<p>It will display a list of child pages below the actual (parent) page content. You can tweak each child page display by <a href="#custom-fields">setting the corresponding page options</a>.</p>
					<p>There will be a page <strong>featured image</strong> (you can then even set a different intro image displayed on the actual page with a dedicated <a href="#custom-fields">custom field</a>), page <strong>title</strong>, page <strong>excerpt</strong> and optional <strong>"Continue reading" button</strong> displayed. "Continue reading" button is displayed only if the page has some actual content.</p>
					<p>To set up a child page excerpt please use the "Excerpt" field on page edit screen.</p>
					<p>If you would like to custom order your child pages, use <a href="https://codex.wordpress.org/Pages_Add_New_Screen" target="_blank">page "Order" attribute</a>. Or you can <a href="#plugins-others">use a plugin</a> for this, such as <em>Nested Pages</em> or <em>Intuitive Custom Post Order</em>.</p>
				</dd>

				<dt>
					<strong>Page builder</strong>
					<a href="https://themedemos.webmandesign.eu/#{theme_slug}/theme-features/template-page-builder" target="_blank" class="alignright btn btn-default">Demo</a>
				</dt>
				<dd>
					<p>This is a special page/post template designed for use with a page builder plugin. You can specify the correct content area layout for this page/post template in <strong><em>Appearance &rarr; Customize &rarr; Theme Options &rarr; Layout &rarr; Page builders</em></strong> and tweak it for needs of your page builder plugin.</p>
					<p>(Note that using this page template will remove the page intro area (just like "No intro" page template above), so you need to create it with your page builder then, if needed.)</p>
				</dd>

				<dt>
					<strong>Project layout</strong>
					<a href="https://themedemos.webmandesign.eu/#{theme_slug}/theme-features/template-project-layout" target="_blank" class="alignright btn btn-default">Demo</a>
				</dt>
				<dd>
					<p>This is a special custom post type template for displaying Project content in more traditional way. Read more under <a href="#project-templates">"Projects" section</a> of this documentation.</p>
				</dd>
			</dl>

		<h3 id="page-builder">Page Builder</h3>

			<p>The theme is fully compatible with <strong>the best front-end page builder plugin for WordPress, the <a href="#beaver-builder">Beaver Builder</a></strong>, which will help you create a complex page layouts with ease!</p>
			<p>In case you'd like to use a <a href="#any-page-builder">different page builder plugin</a>, the theme was tested and is working with 6 most popular ones and should be compatible with any decently coded page builder.</p>

	</div>
