block install/about
	if config.is_free
		include free.pug
	else
		include paid.pug

	if false !== config.compatibility.welcome
		+tip( 'Welcome page' )#welcome-page
			block install/welcome/notice
				p Don't forget to check the theme welcome page at #[+mark( 'nav', 'Appearance', 'Welcome' )]. It contains everything you need to start.

	+tip( 'Get info about updates' )
		p Get fast information about new theme updates by subscribing to WebMan Design on <a href="#{config.url.facebook}"><strong>Facebook</strong></a> and <a href="#{config.url.twitter}"><strong>Twitter</strong></a>.

	if 'envato' === config.source
		+important( 'Envato Market' )
			p If you've obtained the theme from <a href="#{config.url.info}">ThemeForest (Envato Market)</a>, please make sure to unpack the downloaded ZIP package on your computer first and check if you are uploading the correct theme ZIP file (or the whole theme folder).

			p Basically, the theme installation ZIP file or folder is named with your theme slug only, so only <code>#{config.slug}</code>.

			p Do not install a whole ZIP package that contains other files such as documentation, child theme, licencing and others. Install only the file in <code>#{config.slug}-package/theme</code> folder. Otherwise you might experience <a href="https://help.market.envato.com/hc/en-us/articles/202821510">a common installation error</a>.
