head
	meta( charset="utf-8" )
	meta(
		name="viewport"
		content="width=device-width, initial-scale=1"
	)

	title #{theme_name} WordPress Theme Documentation

	each href in css
		link(
			rel="stylesheet"
			href=href
		)
